
<html>
    <style>
        body {
          background-image: url('img_girl.jpg');
          background-repeat: no-repeat;
          background-attachment: fixed; 
          background-size: 100% 100%;
        }
        </style>
    <h1><p class="text-center ">DATA CRAWL</p></h1>

</html>