<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head') %>
</head>
<body class="container">

<header>
    <%- include ('../partials/header') %>
</header>

<main>
    <div class="jumbotron">
        <form>
            <div class="form-group">
              <label for="exampleInputEmail1">enter name database</label>
              <input type="text" class="form-control" name="namedb">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    </div>
    
</main>

<footer>
    <%- include ('../partials/footer') %>
</footer>

</body>
</html>